@model IEnumerable<Instituicao>
@{
}

<div class="my-3">
    <a asp-action="Criar" class="btn btn-primary">Adicionar nova instituição</a>
</div>

<div class="table-responsive">
    <table class="table" id="table-instituicoes">
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereço</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var institucao in Model)
            {
                <tr>
                    <th scope="row">@institucao.Id</th>
                    <td>@institucao.Nome</td>
                    <td>@institucao.Endereco</td>
                    <td>
                        <a class="btn btn-primary me-2" asp-route-id="@institucao.Id" asp-controller="Instituicao" asp-action="Detalhes">Ver detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

